.NavBar {
  color: white;
  display: flex;
  align-items: center;
  background-color: #ab2a19;
  width: 100vw;
  height: 10vh;
}

.Logo-Links {
  display: flex;
  justify-content: center;
}

.Nav-btn {
  display: inline;
  justify-content: space-around;
  list-style: none;
}
